#AppLayout {
    color: #fff;
    width: 90%;
    margin: 10px auto;
    max-width: 1024px;
}
#AppLayout section {
    margin: 40px auto;
    padding-bottom: 10px;
}

#AppLayout section h2{
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    #AppLayout {
        width: 80%;
    }
  }