#Home {
    display: grid;
    grid-template-columns: 2fr 1fr;

    #ProfileContainer {
        grid-column: 2;
        border-radius: 100%;
        width: 200px;
        height: 200px;
        background-color: white;
        display: flex;
        margin: auto;
        #ProfilePic {
            width: 50%;
            margin: auto;
        }
    }
    #intro {
        grid-column: span 2;
    }
}