#profileContainer {
  border-radius: 100%;
  width: 200px;
  height: 200px;
  /* background-color: #fff; */
  display: flex;
  margin: auto;
  position: relative;
}
/* .light-mode #profileContainer {
  border: #000 solid 3px;
} */

#home a {
  color: #fff;
}
.light-mode #home a {
  color: #000;
}

#home #profileContainer #profilePic {
  width: 100px;
  margin: auto;
  object-fit: contain;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  animation: moveUpDown 2s infinite ease alternate;
}
@keyframes moveUpDown {
  to {
    transform: translateY(10px)
  }
}

#home div div:nth-child(1) {
  transition-delay: 200ms;
}
#home div div:nth-child(2) {
  transition-delay: 400ms;
}
#home div div:nth-child(3) {
  transition-delay: 600ms;
}
#home div div:nth-child(4) {
  transition-delay: 800ms;
}


@media only screen and (min-width: 768px) {
#home #intro {
  width: 50%;
  margin-left: auto;
}
}
