.carousel {
    position: relative;
  }
  
  .carousel-items {
    display: flex;
    align-items: center;
    transition: transform 0.3s ease-in-out;
  }
  
  .carousel-item {
    flex: 1 0 100%;
    /* margin-right: 15px; */
    text-align: center;
    /* background-color: #f2f2f2; */
  }
  
  .carousel-item.active {
    width: 100%;
  }
  
  .carousel-dots {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .dot {
    width: 15px;
    height: 15px;
    margin: 0 5px 5px;
    border-radius: 50%;
    background-color: #bbb;
    cursor: pointer;
  }
  .dot:hover{
    background-color: var(--dark-active);
  }
  .dot.active {
    background-color: var(--dark-active);
  }

  .light-mode .dot:hover{
    background-color: var(--light-active);
  }
  .light-mode .dot.active {
    background-color: var(--light-active);
  }
  
  .carousel-prev,
  .carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
    background-color: var(--dark-active);
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 2em;
    display: flex;
    justify-content: center;
  }
  .light-mode .carousel-prev,
  .light-mode .carousel-next {
    background-color: var(--light-active);
    color: #000;
  }
  
  .carousel-prev {
    left: 0px;
    opacity: 0.8;
  }
  
  .carousel-next {
    right: 0px;
    opacity: 0.8;
  }
  
  @media (min-width: 768px) {
    .carousel-dots {
      display: flex;
      justify-content: center;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
    .carousel-prev {
      left: 0px;
      opacity: 1;
    }
    
    .carousel-next {
      right: 0px;
      opacity: 1;
    }

  }